.close{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    display: block;
    align-items: center;
    background-color:  rgba(255, 255, 255, 1);
   
}