.modal{
background-color:  rgba(255, 255, 255, 1);
width: 560px;
// height: 558px; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
padding: 56px 0;
}