
.header{
    background-color: rgb(76, 214, 63);
    width: 1200px;
    margin-bottom: 25px;
    display: flex;
    justify-content:flex-end;
    padding: 0 15px;
    border-radius: 10px ;
   
}

.img{
width: 40px;


}

.headerNavigation{
    display: flex;
    flex-direction: row;
   
    align-items: center;

    ul{
        list-style: none;
        align-items: center;
       
    }
   a {
     color:black;
     font-size: 30px;
     padding: 5px;
    }

     &.active {
      opacity: .5;
      cursor: default;
    

      

}}