.card{
padding: 10px;
  border: 3px solid rgb(118, 196, 41);
  border-radius: 10px;
  // margin-bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(110, 236, 72, 0.475);
}

.title{
     font-size: 40px;
  font-weight: 600;
  font-style: italic;
}

.price{
    color: red;
    font-size: 22px;
}

.image{
    width: 200px;
    height: 200px;
    
}

.color{
    font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.svgWrapper {
  width: 32px;
  height: 32px;

  &:hover {
    cursor: pointer;

    svg, path {
        fill: gold;
    }
  }

  &.active {
    svg, path {
        fill: red;
        cursor: default !important; 
    }
  }
}
