.item {
  border: 1px solid #ccc;
  padding: 20px 20px 75px;
  cursor: pointer;
  user-select: none;
  position: relative;
  gap: 10px;
  align-items: flex-start;
  display: flex;
  width: 500px;
  img {
    width: 100px;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
  }

  .productName {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;

  }


  .productPrice {
    color: darkgreen;
    font-weight: bold;
  }

  .count {
    font-weight: 700;
  }

 
}


