.button{
    width: 192px;
    height: 48px;
    color:rgb(14, 93, 9);
    border: 1px solid rgba(60, 66, 66, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    margin-right: 10px

;
    &:hover{
        background:  rgb(17, 162, 31);
        color:  rgba(255, 255, 255, 1);

    }
}
